<%- include('../layouts/header')%>
<div class="container p-0">
    <h2 class="display-6 fw-normal text-center p-3">¡Éxito!</h2>
    <p class="lead text-center">Listo! <%- message %></p>
    <p class="fs-5 text-center"><a href="../../../admin/projects">Volver al panel de control</a></p>
</div>
<%- include('../layouts/footer')%>