        </main>
        <div class="border-top fixed-bottom p-2 fondito">
            <footer class="container d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-4 mb-0 text-muted">Nadine Pedelaborde - Aplicaciones Híbridas - Prof. Brian Lara</p>
                <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-0">
                    <img src="https://i.ibb.co/QCB5sLh/logo.jpg" alt="NP" width="30" height="30" class="d-inline-block align-text-top">
                </a>
                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="https://github.com/n-pedelaborde" class="nav-link px-2 text-muted">Github</a></li>
                    <li class="nav-item"><a href="https://www.instagram.com/_niepravda/" class="nav-link px-2 text-muted">Instagram</a></li>
                    <li class="nav-item"><a href="https://niepravda.tumblr.com/" class="nav-link px-2 text-muted">Tumblr</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>